@import "/good-deals-list/src/client/src/app/globals.scss";

.user {
  display: flex;
  flex-direction: column;
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
  
  span {
    text-align: center;
    margin-bottom: 10px;
  }
}

.userId {
  margin-bottom: 10px;
}